body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
}


header {
    width: 85%;
    max-height: 100%;
    margin-left: 10%;
}

aside {
  width: 100%;
  max-height: 100%;
  margin-right: 20%
}

.col-md-3 {
  margin-left: 45px;
  float: left;
}

.frame {
 border-color: #666 #1c87c9;
      margin-left: 15px;
      border-image: none;
      border-radius: 50% 50% 50% 50%;
      border-style: solid;
      border-width: 5px;
      height: 300px;
      width: 300px;
      overflow: hidden;
      }

.row {
  margin-top: 25px;
}

.main-bio {
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px;
  width: 100%;
  text-align: center;
  background-color: slategrey;
}

/*Playing around with image properties*/
img {
  float: left;
  height: 285px;
  width: 285px;
  }

h1 {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 34px;
}

h2 {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
}

p {
  width: 100%;
}
​
#contact-info {
  width: 30%;
}
​
#bio-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}